<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styte.css">
    <link rel="stylesheet" href="/static/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>FEE TNUT</title>
</head>
<body>
    <div id="header_menu">
        <div id="header">
            <div class="container">
                <div class="logo">
                    <a href="#" class="header_pc">
                        <img src="/static/image/logo.png" alt="">
                        fee study
                    </a>
                    <a href="#" class="header_mb">
                        <img src="/static/image/logo.png" alt="">
                    </a>
                </div>
                <div class="search_pc">
                    <form class="header__search" method="GET" action="">
                        <label>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>search</title>
                                <path
                                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                                </path>
                            </svg>
                            <input name="q" placeholder="Tìm kiếm" />
                        </label>
                    </form>
                </div>
                <div class="login">
                    <a href="#">
                        <img src="/static/image/logo.png" alt="">
                        <p>Đăng nhập</p>
                    </a>
                </div>
                <div class="header_mobile">
                    <nav>
                        <div class="hamburger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                        <ul class="nav-links">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Chương trình đào tạo</a></li>
                            <li><a href="#">Học tập</a></li>
                            <li><a href="#">Đánh giá</a></li>
                            <li><a href="#">Đăng nhập</a></li>
                        </ul>
                    </nav>
                </div>
                <script src="/static/js/main.js"></script>
            </div>
        </div>
        <div id="menu">
            <div class="container">
                <ul class="list_menu">
                    <li><a href="#" class="item_menu_pc">Trang chủ</a></li>
                    <li class="menu_item">
                        <a href="#" class="item_menu_pc">Chương trình đào tạo</a>
                        <ul class="menu_major">
                            <li><a href="">Kỹ thuật máy tính</a></li>
                            <li><a href="">Điện tử viễn thông</a></li>
                            <li><a href="">Kỹ thuật điện tử</a></li>
                            <li><a href="">Kỹ thuật điều khiển</a></li>
                        </ul>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="item_menu_pc">Học tập</a>
                        <ul class="menu_major">
                            <li><a href="">Kỹ thuật máy tính</a></li>
                            <li><a href="">Điện tử viễn thông</a></li>
                            <li><a href="">Kỹ thuật điện tử</a></li>
                            <li><a href="">Kỹ thuật điều khiển</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="item_menu_pc">Đánh giá</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <h1>Ngành: Kỹ thuật máy tính</h1>
            <div class="list_major_ctdt">
                <a href="#" class="major_ctdt cb">
                    <div class="container">
                        <h3>Môn: lập trình trong môi trường window</h3>
                        <h5>tiến độ: hoàn thành</h5>
                    </div>
                </a>
                <a href="#" class="major_ctdt cs">
                    <h3>Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cn">
                    <h3>Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cb">
                    <h3>Môn: Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cs">
                    <h3>Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cn">
                    <h3>Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cb">
                    <h3>Môn: Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cs">
                    <h3>Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
                <a href="#" class="major_ctdt cn">
                    <h3>Toán 1</h3>
                    <h5>tiến độ: chưa hoàn thành</h5>
                </a>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="infor_school">
                <h5>Thông tin:</h5>
                <h6>
                    Địa chỉ:<br>
                    Số 666 Đ. 3/2, Phương Tích Lương,<br>
                    Thành phố Thái Nguyên, Thái Nguyên<br>

                    <a href="https://www.tnut.edu.vn/">https://www.tnut.edu.vn/</a><br>

                    Số điện thoại: 0208 3847 145
                </h6>
            </div>
            <div class="link">
                <h5>Về chúng tôi:</h5>
                <a href="">Chương trình đào tạo</a><br>
                <a href="">Học tập</a><br>
                <a href="">Đánh giá</a>
            </div>
            <div class="call_re">
                <div>
                    <h5>Đăng ký thành viên ngay</h5>
                    <a href="">Đăng ký</a>
                    <h5>Trải nghiệm phương pháp học hoàn toàn<br>
                        mới cùng các thầy cô khoa Điện tử<br>
                        Trường Đại học Kĩ thuật Công Nghiệp -<br>
                        Đại học Thái Nguyên</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>