<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/styte.css">
    <link rel="stylesheet" href="/static/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div id="header_menu">
        <div id="header">
            <div class="container">
                <div class="logo">
                    <a href="#" class="header_pc">
                        <img src="/static/image/logo.png" alt="">
                        fee study
                    </a>
                    <a href="#" class="header_mb">
                        <img src="/static/image/logo.png" alt="">
                    </a>
                </div>
                <div class="search_pc">
                    <form class="header__search" method="GET" action="">
                        <label>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>search</title>
                                <path
                                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                                </path>
                            </svg>
                            <input name="q" placeholder="Tìm kiếm" />
                        </label>
                    </form>
                </div>
                <div class="login">
                    <a href="#">
                        <img src="/static/image/logo.png" alt="">
                        <p>Đăng nhập</p>
                    </a>
                </div>
                <div class="header_mobile">
                    <nav>
                        <div class="hamburger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                        <ul class="nav-links">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Chương trình đào tạo</a></li>
                            <li><a href="#">Học tập</a></li>
                            <li><a href="#">Đánh giá</a></li>
                            <li><a href="#">Đăng nhập</a></li>
                        </ul>
                    </nav>
                </div>
                <script src="/static/js/main.js"></script>
            </div>
        </div>
        <div id="menu">
            <div class="container">
                <ul class="list_menu">
                    <li><a href="#" class="item_menu_pc">Trang chủ</a></li>
                    <li class="menu_item">
                        <a href="#" class="item_menu_pc">Chương trình đào tạo</a>
                        <ul class="menu_major">
                            <li><a href="">Kỹ thuật máy tính</a></li>
                            <li><a href="">Điện tử viễn thông</a></li>
                            <li><a href="">Kỹ thuật điện tử</a></li>
                            <li><a href="">Kỹ thuật điều khiển</a></li>
                        </ul>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="item_menu_pc">Học tập</a>
                        <ul class="menu_major">
                            <li class="sub_access">
                                <a href="">Kỹ thuật máy tính</a>
                                <ul class="menu_access">
                                    <li><a href="">Cơ bản</a></li>
                                    <li><a href="">Cơ sở</a></li>
                                    <li><a href="">Chuyên ngành</a></li>
                                </ul>
                            </li>
                            <li><a href="">Điện tử viễn thông</a></li>
                            <li><a href="">Kỹ thuật điện tử</a></li>
                            <li><a href="">Kỹ thuật điều khiển</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="item_menu_pc">Đánh giá</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="search_mb">
            <form class="header__search" method="GET" action="">
                <label>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>search</title>
                        <path
                            d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                        </path>
                    </svg>
                    <input name="q" placeholder="Tìm kiếm" />
                </label>
            </form>
        </div>
        <div class="container">
            <div class="img_khoa">
                <img src="/static/image/img_khoa.jpg" alt="">
            </div>
            <div class="text_content">
                <h1 class="header_text">
                    Học tập để thành công
                </h1>
                <h4 class="mid_text">
                    Trải nghiệm phương pháp học tập hoàn toàn mới cùng các giáo viên<br>
                    khoa Điện tử Trường Đại học Kỹ thuật Công Nghiệp - Đại học Thái Nguyên
                </h4>
                <h1 class="header_text">
                    Những lợi ích khi đến với chúng tôi
                </h1>
                <div class="list_text">
                    <div>
                        <h4 class="mid_text">
                            CHỦ ĐỘNG VỀ THỜI GIAN HỌC
                        </h4>
                        <h6 class="under_text">
                            Học mọi lúc, mọi nơi. <br>
                            Không cần đến trường lớp.<br>
                            Người học hoàn toàn chủ động về thời gian,<br>
                            tiến trình học.
                        </h6>
                    </div>
                    <div>
                        <h4 class="mid_text">
                            HỌC VỚI GIÁO VIÊN
                        </h4>
                        <h6 class="under_text">
                            Học viên được học cùng với các thầy cô <br>
                            của trường Đại học Kỹ thuật Công <br>
                            Nghiệp Đại học Thái Nguyên - những người<br>
                            là kỹ sư, chuyên gia có kinh<br>
                            nghiệm trong lĩnh vực cơ khí, công nghệ
                        </h6>
                    </div>
                    <div>
                        <h4 class="mid_text">
                            CỘNG ĐỒNG
                        </h4>
                        <h6 class="under_text">
                            Học viên được tham gia cộng<br>
                            đồng của những học viên khác<br>
                            và những nhà tuyển dụng để học<br>
                            hỏi kiến thức, cập nhật xu<br>
                            hướng thời đại và tiếp cận<br>
                            cơ hội việc làm
                        </h6>
                    </div>
                </div>
                <h1 class="header_text">
                    Những thầy cô dày dặn kinh nghiệm<br>
                    của Trường Đại học Kỹ Thuật Công Nghiệp<br>
                    Đại học Thái Nguyên
                </h1>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="infor_school">
                <h5>Thông tin:</h5>
                <h6>
                    Địa chỉ:<br>
                    Số 666 Đ. 3/2, Phương Tích Lương,<br>
                    Thành phố Thái Nguyên, Thái Nguyên<br>

                    <a href="https://www.tnut.edu.vn/">https://www.tnut.edu.vn/</a><br>

                    Số điện thoại: 0208 3847 145
                </h6>
            </div>
            <div class="link">
                <h5>Về chúng tôi:</h5>
                <a href="">Chương trình đào tạo</a><br>
                <a href="">Học tập</a><br>
                <a href="">Đánh giá</a>
            </div>
            <div class="call_re">
                <div>
                    <h5>Đăng ký thành viên ngay</h5>
                    <a href="">Đăng ký</a>
                    <h5>Trải nghiệm phương pháp học hoàn toàn<br>
                        mới cùng các thầy cô khoa Điện tử<br>
                        Trường Đại học Kĩ thuật Công Nghiệp -<br>
                        Đại học Thái Nguyên</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>