<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Đăng nhập</h3>

        <label for="username">Email</label>
        <input type="text" placeholder="Email" id="username">

        <label for="password">Mật khẩu</label>
        <input type="password" placeholder="Mật khẩu" id="password">

        <button class="btnLog" id="btnLog">Đăng nhập</button>
        <div class="social">
            <h5>Bạn chưa có tài khoản?</h5>
            <div class="go"> Đăng ký</div>
        </div>
    </form>
</body>

</html>