{% extends 'main.html' %}
{% block content %}
<div id="content">
    <div class="container">
        {% if page == 'subjectcb' %}
        <h1>Cơ Bản</h1>
        <div class="list_major_ctdt">
            {% for ctdt in ctdts %}
            {% if ctdt.fkmajor.name == majors.name and ctdt.access == '0' %}
            <a href="{% url 'listsubject' ctdt.id %}" class="major_ctdt mh{{ctdt.access}}">
                <h3>{{ctdt.name}}</h3>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% elif page == 'subjectcs' %}
        <h1>Cơ Sở</h1>
        <div class="list_major_ctdt">
            {% for ctdt in ctdts %}
            {% if ctdt.fkmajor.name == majors.name and ctdt.access == '1' %}
            <a href="{% url 'listsubject' ctdt.id %}" class="major_ctdt mh{{ctdt.access}}">
                <h3>{{ctdt.name}}</h3>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <h1>Chuyên ngành</h1>
        <div class="list_major_ctdt">
            {% for ctdt in ctdts %}
            {% if ctdt.fkmajor.name == majors.name and ctdt.access == '2' %}
            <a href="{% url 'listsubject' ctdt.id %}" class="major_ctdt mh{{ctdt.access}}">
                <h3>{{ctdt.name}}</h3>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}